.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    list-style: none;
}

.card__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
}

.card__image {
    width: 282px;
    height: 282px;
}

.card__description {
    display: flex;
    background: white;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.card__like-button{
    background: transparent url(../images/like-button.svg) center no-repeat;
    width: 21px;
    height: 18px;
    display: flex;
    align-items: center;
}

.card__title {
    max-width: 220px;
    font-size: 24px;
    font-weight: 900px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0
}